@import "../../styles/variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.imageContainer {
  width: 400px;
  max-width: 90%;

  img {
    z-index: 1;
    margin: auto;
    width: 100%;
  }
}

@media (max-width: $desktop) {
  .imageContainer {
    width: 350px;
  }
}

.text {
  color: $black;
  font-size: 1.5rem;

  h1 {
    text-align: center;
  }
}

.helloThere {
  display: flex;
  justify-content: center;
  width: 100%;
}
