@import "../../styles/variables.scss";

.container {
  display: block;
}

.imageContainer {
  width: 90%;
  margin: 0 auto;
  max-width: 400px;

  img {
    width: 100%;
  }
}

.text {
  color: $black;
  font-size: 1.5rem;

  h1 {
    text-align: center;
    span {
      font-weight: bold;
    }
  }
}

.helloThere {
  display: flex;
  justify-content: center;
  width: 100%;
}
