@import "../styles/variables.scss";

.home {
  background-color: $yellow;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.mapImageWrapper {
  opacity: 0.75;
  height: 100%;
  left: 0;
  flex-shrink: 0;
}

@media (max-width: $tablet) {
  .mapImageWrapper {
    display: none;
  }
}

.mapImage {
  height: 100%;
}

.flexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 32px;
  padding-right: 32px;
}

.contentContainer {
  margin: auto;
  max-height: 100%;
  width: 100%;
  overflow: auto;
}

.contentWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: $desktop) {
  .contentWrapper {
    flex-direction: column;
  }
}

@media (max-width: $tablet) {
  .blur {
    display: none;
  }
}
// @media (max-width: $desktop) {}
// @media (max-width: $tablet) {}
// @media (max-width: $small-tablet) {}
// @media (max-width: $phone) {}
// @media (max-width: $small-phone) {}
