@import "../styles/variables.scss";

.home {
  background-color: $yellow;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: flex;
}

.mapImageWrapper {
  opacity: 0.75;
  height: 100%;
  left: 0;
  flex-shrink: 0;
}

@media (max-width: $tablet) {
  .mapImageWrapper {
    display: none;
  }
}

.mapImage {
  height: 100%;
}

.contentContainer {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 32px;
  flex: 1;
}

@media (max-width: $desktop) {
  .contentContainer {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: $tablet) {
  .blur {
    display: none;
  }
}
// @media (max-width: $desktop) {}
// @media (max-width: $tablet) {}
// @media (max-width: $small-tablet) {}
// @media (max-width: $phone) {}
// @media (max-width: $small-phone) {}
