@import "variables.scss";

.home {
  background-color: $yellow;
  color: white;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  
  .image {
    width: 250px;
    height: 250px;
    background: $black;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 5vw 2vh 0;

    img {
      position: absolute;
      z-index: 1;
      margin: auto;
      right: 0;
      bottom: 0;
      width: 100%;
    }
  }
  .text {
    color: $black;
    padding-right: 5vw;
    font-size: 1.5rem;
  }
}
@media (max-width: $desktop) {
}
@media (max-width: $tablet) {
}
@media (max-width: $small-tablet) {
}

@media (max-width: $phone) {
}

@media (max-width: $small-phone) {
}