@import "variables.scss";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
  box-sizing: border-box;
}
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}
#__next {
  height: 100%;
}

html,
body {
  height: 100%;
}

body {
  overflow: auto;
  font-family: $montserrat;
  letter-spacing: 0.05rem;
  background: $yellow;
  color: $black;
  text-rendering: optimizeLegibility;
  @include font-smoothing($value: antialiased);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}
